#mnu-straitjacket {
	list-style-image:url('chrome://straitjacket/skin/straitjacket-16.png');
}
#mnu-straitjacket-context {
	list-style-image:url('chrome://straitjacket/skin/straitjacket-16.png');
}
#mnu-straitjacket-tools {
	list-style-image:url('chrome://straitjacket/skin/straitjacket-16.png');
}
#tbbtn-straitjacket {
	list-style-image:url('chrome://straitjacket/skin/straitjacket-24.png');
}
toolbar[iconsize="small"] #tbbtn-straitjacket {
	list-style-image:url('chrome://straitjacket/skin/straitjacket-16.png');
}
toolbarbutton.tbbtn-straitjacket,window:not([active="true"]) toolbarbutton.tbbtn-straitjacket {
	list-style-image:url('chrome://straitjacket/skin/straitjacket-24.png');
}